<?xml version="1.0" encoding="UTF-8"?>
<!--
 ==========================================================================
  MuleSoft Logging Configuration (log4j2.xml)
 ==========================================================================
  Project: github-actions
  Author: Leonel Dorneles Porto
  Email: leoneldornelesporto@outlook.com.br
  Phone: +55 53 99180-4869
 ==========================================================================
  Descrição:
    - Configuração profissional para logging em aplicações MuleSoft.
    - Logs detalhados, direcionados ao console e arquivo com rotação.
    - Exibe thread, caminho do processador e ID do evento de correlação.
 ==========================================================================
  Documentação Oficial:
    https://docs.mulesoft.com/runtime-manager/viewing-log-data
 ==========================================================================
-->

<Configuration status="WARN" monitorInterval="60">

    <!-- ======================
         APPENDERS
         ====================== -->
    <Appenders>

        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%t] [processor: %X{processorPath}] [event: %X{correlationId}] - %m%n"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="FileLogger"
                     fileName="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}github-actions.log"
                     filePattern="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}github-actions-%d{yyyy-MM-dd}-%i.log.gz">

            <!-- Layout dos logs -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%t] [processor: %X{processorPath}] [event: %X{correlationId}] - %m%n"/>

            <!-- Políticas de rotação -->
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>

            <!-- Máximo de arquivos rotacionados -->
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <!-- ======================
         LOGGERS
         ====================== -->
    <Loggers>

        <!-- Logs essenciais para deploy/startup/shutdown -->
        <AsyncLogger name="org.mule.runtime.core.internal.logging" level="INFO"/>

        <!-- Logs HTTP detalhados (wire traffic) -->
        <!-- <AsyncLogger name="org.mule.service.http.impl.service.HttpMessageLogger" level="DEBUG"/> -->

        <!-- Serviços HTTP MuleSoft -->
        <AsyncLogger name="org.mule.service.http" level="WARN"/>
        <AsyncLogger name="org.mule.extension.http" level="WARN"/>

        <!-- Logs de cobertura do MUnit -->
        <AsyncLogger name="org.mule.munit.plugins.coverage.server" level="INFO"/>

        <!-- Logger padrão do Mule (componente Logger) -->
        <AsyncLogger name="org.mule.runtime.core.internal.processor.LoggerMessageProcessor" level="INFO"/>

        <!-- Núcleo do MuleSoft -->
        <AsyncLogger name="org.mule.runtime.core.internal" level="WARN"/>
        <AsyncLogger name="org.mule.runtime.core.api" level="WARN"/>

        <!-- Logger Raiz -->
        <AsyncRoot level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </AsyncRoot>

    </Loggers>

</Configuration>
